@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url("/bg.svg"), url("/bgCanvas.svg");
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f197; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}